.dashboard-nav{
    background-color:#363740;
    /* position: fixed; */
    top: 0;
    left: 0;
    min-height: 100vh !important;
    padding: 0;    
}

.dashboard-nav ul li a{
    height: 70px;
    display: flex;
    align-items: center;
    color: #898C9F;
}


.dashboard-nav ul .active a{
    color: #DDE2FF;
}

.dashboard-nav ul li img{
    opacity: 0.3;
}

.dashboard-nav ul .active img {
    opacity: 1;
}

.dashboard-nav ul li a:hover{
    text-decoration: none;
    background-color: #3E4049;
}


.dashboard-nav ul .active {
    border-left: 2px solid #DDE2FF;
}

.dashboard-nav_navitems{
    height: 100%;
}

.dashboard-nav_logo{
    color: #A4A6B3;
    font-size: 1.2rem ;
    font-weight: 600;

}

.dashboard-navlink_active{
    color: white;
}

.dashboard-navlink{
    color: #DDE2FF;
}

.dashboard-nav_logo img{
    width: 36px;
}

.dashboard-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.dashboard-body{

    background-color: #F7F8FC;
}


.dashboard-header{
    /* background-color: blue; */
    /* width: 10ovw; */
}



.dashboard-header_title{
    font-size: 24px;
}


.dashboard-searchbox{
    position: relative;
    display: none;
}



.dashboard-body {
    min-height: 40px !important;
}


#dataTable_length label{
    width: auto;
}

.dashboard-body label {
    width: 100%
}


.dashboard-body input,
.dashboard-body select{
    min-height: 42px;
}


.dashboard-header_account{
    gap: 1rem;
    color: #DFE0EB;
}

.dashboard-header_account__notification{
    font-size: 1.5rem;
    position: relative;
}

.dashboard-header_account__notification::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
    height: 14px;
    background-color: #3751FF;
    border-radius: 100px;
    border: 2px solid #F7F8FC;
}


.dashboard-header_account__seperator{
    width: 2px;
    background-color: #DFE0EB;
    height: 80%;
}

.dashboard-header_account__profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-header_account__profile p{
    color: #252733;
    font-weight: 600;
}

.dashboard-header_account__profile img{
    border: 2px solid white;
    height: 52px;
    width: 52px;
    border-radius: 100px;
}


.dashboard-table{
    border: 0.5px solid #DFE0EB;
    padding: 2rem !important;
    background-color: white;
}

#dataTable_wrapper .row{
    margin: 0;
}


#dashboard-table_header {
    border-bottom: 0px solid green !important;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

.dashboard-table th{
    color: #9FA2B4;
    font-size: 1rem;
    font-weight: 500 !important;
    border-bottom:2px solid #DFE0EB !important;
    padding-top: 3rem;
   
}

#dataTables_length{
    visibility: hidden !important;
}


.dashboard-table th:first-of-type{
    padding-left: 24px;
}

.dashboard-table td:first-of-type{
    padding-left: 24px;
}

.dashboard-table td{
    padding: 1.8rem 0;
    border-bottom: 2px solid #DFE0EB;
}

.dashboard-table_document-details img{
    height: 48px;
}

.dashboard-table_document-details p{
    font-weight: 600;
    margin: 0;
}

.dashboard-table_document-details span{
    color: #C5C7CD;
    font-size: 13px;
}

#dataTable_paginate a[aria-controls=dataTable]{
    color: #A80A0A;
}

#dataTable_paginate .active a{ 
    background-color: #A80A0A !important;
    color: white !important;
    border: none;
}

#dataTable_paginate .active a:focus{
    box-shadow: 0 0 4px #996161;
}



