body{
    margin: 0;
    padding: 0;
}



/* General Styles */

.button-primary{
    background-color: #A80A0A !important;
    color: white;
}

.Nav {
    min-height: 82px;
    max-height: 82px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
} 

.Nav__divider {
    height: 82px;
    width: 3px !important;
    border-left: 3px solid black;
    background-color: black;
}

#landing{
    height: calc(100vh);
    background-image: url(../assets/beatriz-perez-moya-XN4T2PVUUgk-unsplash\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#landing h1{
    color: #E30016;
    font-size: clamp(48px, calc(3rem + ((1vw - 3.6px) * 6.25)), 86px);
}

#landing p{
    font-weight: 500;
    font-size: 18px;
}

.landing-p{
    max-width: 400px;
}












/* SIGN UP PAGE */

#landing_signup {
    background-image: url(../assets/register-bg.png);
    height: calc(100vh);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup_container {
    max-width: 600px;
    

}



.signup_container h2 {
    color: #A80A0A;
    font-weight: 700;
    text-align: center;
    font-size: clamp(18px, calc(1.25rem + ((1vw - 3.6px) * 1.9737)), 32px);

}

.signup_container form input {
    display: block;
    width: 100%;
    background-color: #F7F7F7;
    border: none;
    height: 50px;
    padding-left: 16px;
    margin: 16px 0;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.signup_container btn-primary {
    color: white;
    background-color: #A80A0A;
}

.signup_social a,
.signup_social button {
    background-color: #F7F7F7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border-width: 0;
    height: 50px;

}


#remember_me{
    width: 20px;
    height: 20px;
    color: #A80A0A;
    background-color: #A80A0A;

}

#remember_me:checked{
    background-color: #A80A0A;
    color: #A80A0A;
}

#forgotten_password{
    color: #A80A0A ;
}








/* For medium screens */
@media screen and (min-width: 768px) {
    section h1{
        font-size: clamp(48px, calc(3rem + ((1vw - 3.6px) * 3.1646)), 68px);
    }

}

/* For large screens */

@media screen and (min-width: 992px) {
    section{
    }
    
}
















/* Bootstrap Override */


.btn-outline-dark{
    border-width: 2px;
    border-color: black;
    color: black;
    font-weight: 500;
}


.form-control:focus {
    box-shadow: 0 0 4px #996161 !important;
    border: none;

}